{% include "comment.njk" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="keywords" content="chlio">
        <meta name="description" content="{{description}}">
        {% include "meta.njk" %}
        {% block head %}
            <title>{{ title }}</title>
        {% endblock head %}
    </head>
    <body>
        <div class="viewport">
            <div>
                {% include "header.njk" %}
                <main class="content">
                    {% block content %}
                    {% endblock content %}
                </main>
            </div>
            {% include "footer.njk" %}
        </div>
    </body>
</html>
