{% include "comment.njk" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="keywords" content="chlio" />
        <meta name="description"
              content="chlio's place to talk about game devlopment and butterflies" />
        {% include "meta.njk" %}
        {% block head %}
            <title>{{ title }}</title>
        {% endblock head %}
    </head>
    <body>
        <div class="viewport">
            <div>
                {% include "header.njk" %}
                <main class="content">
                    {% block content %}
                    {% endblock content %}
                </main>
            </div>
            <div class="footer container">
                <span class="color-secondary subscript">site updated @ {% build_time_pretty %}</span>
            </div>
        </div>
    </body>
</html>
