<div class="container header">
    <a href="/">
        <div class="header-image"
             title="An abstract pink butterfly with two large eyes, represented as plus symbols."></div>
    </a>
    <div class="nav">
        <span>
            <a href="/">
                <p>/</p>
            </a>
        </span>
        <span>
            <a href="/blog">
                <p>/blog</p>
            </a>
        </span>
        <span>
            <a href="/status">
                <p>/status</p>
            </a>
        </span>
        <span>
            <a href="/about">
                <p>/about</p>
            </a>
        </span>
    </div>
</div>
