<div class="container header">
    <a href="/">
        <img alt="An abstract pink butterfly with two large eyes, represented as plus symbols."
             width="720px"
             height="256px"
             src="/assets/images/butterfly-plussed.png">
    </a>
    <div class="nav">
        <span>
            <a href="/">
                <p>/</p>
            </a>
        </span>
        <span>
            <a href="/blog">
                <p>/blog</p>
            </a>
        </span>
        <span>
            <a href="/log">
                <p>/log</p>
            </a>
        </span>
        <span>
            <a href="/about">
                <p>/about</p>
            </a>
        </span>
    </div>
</div>
