<article class="status-card formatted">
    <div>
        <span>{{ metadata.author.name }}</span>
        <span class="subscript color-secondary">@chlio.net</span>
    </div>
    <p>{{ content | safe }}</p>
    <a href={{ url | urlize }}><span class="color-secondary subscript">{{ date | postDate }}</span></a>
</article>
