<!DOCTYPE html>
{% include "comment.njk" %}
<html lang="en">
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="robots" content="noindex, nofollow" />
        {% include "meta.njk" %}
        {% block head %}
            <title>{{ title }}</title>
        {% endblock head %}
    </head>
    <body>
        <div class="viewport">
            <div>
                {% include "header.njk" %}
                <main class="main">
                    <div class="container logentry">
                        {% set url = page.url %}
                        {% include "status-card.njk" %}
                    </div>
                </main>
            </div>
            {% include "footer.njk" %}
        </div>
    </body>
</html>
