{% include "comment.njk" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="keywords" content="" />
        <meta name="title" content="{{title}}" />
        <meta name="description" content="{{description}}" />
        <!--Open Graph-->
        <meta property="og:site_name" content="chlio.net">
        <meta property="og:title" content="{{title}}">
        <meta property="og:description" content="{{description}}">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{{thumbnail}}">
        <meta name="twitter:card" content="summary_large_image">
        <link rel="canonical" href={{page.url}}>
        {% include "meta.njk" %}
        {% block head %}
            <title>{{ title }}</title>
        {% endblock head %}
    </head>
    <body>
        <div class="viewport">
            <div class="">
                {% include "header.njk" %}
                <main class="main content">
                  {% include "blog-body.njk" %}
                </main>
            </div>
            {% include "footer.njk" %}
        </div>
    </body>
</html>
