{% include "comment.njk" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        {% include "meta.njk" %}
        {% block head %}
            <title>{{ title }}</title>
        {% endblock head %}
    </head>
    <body>
        <div class="viewport">
            <div class="">
                {% include "header.njk" %}
                <main class="main content">
                    <div class="container">
                        <a href="{{ page.url }}">
                            <h1>{{ title }}</h1>
                        </a>
                        <h5 class="subscript color-secondary">{{ metadata.author.name }} @ {{ date | htmlDateString }}</h5>
                        <hr>
                        <div class="blog">{{ content | safe }}</div>
                        <div class="separator"></div>
                    </div>
                </main>
            </div>
            {% include "footer.njk" %}
        </div>
    </body>
</html>
