$primary: #F0BBC2;
$secondary: #8D7281;

@font-face {
  font-family: courier-new-ff;
  src: local(Courier New);
  size-adjust: 90%;
  descent-override: 50%;
}

@font-face {
  font-family: monospace;
  src: local(monospace);
  size-adjust: 90%;
  descent-override: 50%;
}

@font-face {
  font-family: 'monogram';
  src: url('/assets/fonts/nicoclean.woff2') format('woff2');
  font-style: normal;
  font-display: block;
  size-adjust: 85%;
  line-gap-override: 25%;
}

body {
  font-size: 1rem;
  font-family:  monogram, arial, monospace;
  background-color: #090A12;
  color: $primary;
}

img {
  image-rendering: pixelated;
}

hr {
  color: $secondary;
}

/* 0 margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
{
margin: 0;
}

ul {
  list-style-type: square;
}

/* text sizes */
h1 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: underline solid $secondary 2px;
  color: $primary;
}

/* foundational components */
.viewport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.content {
  padding: 0 4vw;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

/* inline styles */
.color-secondary {
  color: $secondary;
}

.subscript {
  font-size: 1.0rem;
}

.align-mid {
  text-align: center;
}

.padding-top {
  margin-top: 1rem;
}

/* misc */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;

  img {
    margin: 0 auto;
    width: 720px;
    height: 256px;

    @media (max-width: 720px) {
      width: 100%;
      height: unset;
    }
  }

  .header-image {
    width: 720px;
    height: 256px;
    margin: auto;

    background-image: url("/assets/images/butterfly-plussed.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;

    &:hover {
      background-image: url("/assets/images/butterfly-flinched.png")
    }

    &::after {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      z-index: -1;
      content: url("/assets/images/butterfly-flinched.png");
    }

    @media (max-width: 720px) {
      width: 100%;
      height: unset;
      min-height: 128px;
    }
  }
}

.footer {
  text-align: center;
}

.nav {
  display: grid;
  column-gap: 1rem;
  row-gap: 0.1rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 1rem;

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }

  a {
    margin-top: 1em;
    padding-bottom: 1em;
  }

  a,
  p {
    font-size: 1.2rem;
    margin:0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }


}

.separator {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
}

.separator::before {
  content: "\2726" / "";
}

.logentry {
  padding: 2rem 1rem;

}

.about-repeat {
  width: 100%;
  height: 640px;
  background-image: url("/assets/images/butterfly-pipe.png");
  image-rendering: pixelated;

  &:hover {
    background-image: url("/assets/images/butterfly-flinched.png")
  }
}

.blog {

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 2rem 0;
  }

  img {
    width: 100%;
  }
}

.formatted {

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 1rem 0;
  }

}

.status-card {
  margin-top: 2vh;
  border: 2px solid;
  border-radius: 5px;
  padding: 1rem;
}
