---
title: blog
permalink: /blog/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html
pagination:
    data: collections._post
    size: 5
    generatePageOnEmptyData: true
eleventyImport:
    collections: ["_status", "_post"]
---

{% extends "default.njk" %}
{% block content %}
    <div class="container">
        <h3>blog</h3>
        <a href="/feed.xml">rss</a>
        <hr />
        {%- for item in pagination.items %}
          <a href="{{item.url}}"> <h2>{{ item.data.title }}</h2> </a>
          <p> {{item.data.description}} </p> 
          <span class="color-secondary subscript"> {{ item.data.date | htmlDateString }} </span>
        {% endfor %}
        {% include "separator.njk" %}
        <p>
            {% if pagination.pageNumber != 0 %}<a href={{ pagination.href.previous }}> <== </a>{% endif %}
            page {{ pagination.pageNumber + 1 }} of {{ pagination.pages | length }}
            {% if (pagination.pageNumber + 1) < (pagination.pages | length) %}
                <a href={{ pagination.href.next }}> ==> </a>
            {% endif %}
        </p>
    </div>
{% endblock content %}
