---
title: blog
description: "chlio's blog"
permalink: /blog/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html
pagination:
    data: collections._post
    size: 5
    generatePageOnEmptyData: true
eleventyImport:
    collections: ["_status", "_post"]
---

{% extends "default.njk" %}
{% block content %}
    <div class="container">
        <h3>blog</h3>
        <a href="/feed.xml">rss</a>
        <hr />
        {%- for item in pagination.items %}
          {% set c = item.data | concat({content: item.content}) %}
          <div class="nested-blog">
          {% renderTemplate "njk", c %}
            {% include "blog-body.njk" %}
          {% endrenderTemplate  %}
          </div>
        {% endfor %}
        <hr>
        <p>
            {% if pagination.pageNumber != 0 %}<a href={{ pagination.href.previous }}> <== </a>{% endif %}
            page {{ pagination.pageNumber + 1 }} of {{ pagination.pages | length }}
            {% if (pagination.pageNumber + 1) < (pagination.pages | length) %}
                <a href={{ pagination.href.next }}> ==> </a>
            {% endif %}
        </p>
    </div>
{% endblock content %}
