---
title: status
permalink: /status/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html
pagination:
    data: collections._status
    size: 20
    generatePageOnEmptyData: true
eleventyImport:
    collections: ["_status"]
---

{% extends "default.njk" %}
{% block content %}
    <div class="container">
        <h3>status log</h3>
        <p>a microblog for micro thoughts</p>
        <hr />
        {%- for item in pagination.items | reverse %}
            {% set statusContent = item.content %}
            {% set statusDate = item.data.date %}
            {% set statusUrl = item.url %}
            {% include "status-card.njk" %}
        {% endfor %}
        {% include "separator.njk" %}
        <p>
            {% if pagination.pageNumber != 0 %}<a href={{ pagination.href.previous }}> <== </a>{% endif %}
            page {{ pagination.pageNumber + 1 }} of {{ pagination.pages | length }}
            {% if (pagination.pageNumber + 1) < (pagination.pages | length) %}
                <a href={{ pagination.href.next }}> ==> </a>
            {% endif %}
        </p>
    </div>
{% endblock content %}
