---
title: status
permalink: /status/index.html
eleventyImport:
    collections: ["status"]
---

{% extends "default.njk" %}
{% block content %}
    <div class="container">
        <h3>log</h3>
        {%- for post in collections.status -%}
            <span>{{ post.content | safe }}</span>
            <a href={{ post.url | urlize }}><span class="color-secondary subscript">{{ post.data.date | htmlDateString }}</span></a>
        {%- endfor -%}
    </div>
{% endblock content %}
