---
title: about
permalink: 404.html
---

{% extends "default.njk" %}
{% block content %}
    <div class="container">
        <div class="separator" aria-hidden="true"></div>
        <h1 class="align-mid">404 not found</h1>
        <div class="align-mid">
            <a class="align-mid" href="/">return home</a>
        </div>
        <a href="/">
            <div class="about-repeat"></div>
        </a>
    {% endblock content %}
