---
title: about
description: "chlio's about page"
permalink: /about/index.html
---

{% extends "default.njk" %}
{% block content %}
    <div class="container">
        {% include "separator.njk" %}
        <div class="align-mid">
            <a href="https://chlio.net">
                <img alt="An 88x31 button for chlio.net"
                     width="88px"
                     height="31px"
                     src="/assets/buttons/chlio-88x31.gif" />
            </a>
        </div>
        {% include "separator.njk" %}
        <div class="about-repeat"></div>
    </div>
{% endblock content %}
