---
title: about
permalink: /about/index.html
---

{% extends "default.njk" %}
{% block content %}
    <div class="container">
        <div class="separator" aria-hidden="true"></div>
        <p>i'm chlio.</p>
        <div class="separator" /></div>
    <div class="about-repeat"></div>
{% endblock content %}
