---
title: chlio's website
eleventyImport:
    collections: ["_status", "_post"]
---

{% extends "default.njk" %}
{% block content %}
    <div class="container">
        {% include "separator.njk" %}
        <p>Welcome to chlio.net</p>
        <div class="section">
            <h3>latest posts</h3>
            {% set postlist = collections._post | head(-3) %}
            {%- for post in postlist | reverse -%}
                <a href={{ post.url | urlize }}>
                    <p>{{ post.data.title }}</p>
                    <span class="color-secondary subscript">{{ post.data.date | htmlDateString }}</span></a>
            {%- endfor -%}
            <a href="/blog">
                <p>
                    more posts <span aria-hidden="true">>></span>
                </p>
            </a>
        </div>
        <div class="section">
            <h3>latest status</h3>
            {% set postlist = collections._status | head(-1) %}
            {%- for post in postlist | reverse -%}
                {% set statusContent = post.content %}
                {% set statusDate = post.data.date %}
                {% set statusUrl = post.url %}
                {% include "status-card.njk" %}
            {%- endfor -%}
            <a class="padding-top" href="/status">
                <span> more statuses <span aria-hidden="true">>></span></span>
            </a>
        </div>
    </div>
{% endblock content %}
