---
title: chlio's website
eleventyImport:
    collections: ["_status", "_post"]
---

{% extends "default.njk" %}
{% block content %}
    <div class="container">
        <div class="separator" aria-hidden="true"></div>
        <p>Welcome to chlio.net</p>
        <div class="section">
            <h3>posts</h3>
            {% set postlist = collections._post | head(-3) %}
            {%- for post in postlist | reverse -%}
                <a href={{ post.url | urlize }}>
                    <p>{{ post.data.title }}</p>
                    <span class="color-secondary subscript">{{ post.data.date | htmlDateString }}</span></a>
            {%- endfor -%}
            <a href="/blog">
                <p>
                    more posts <span aria-hidden="true">>></span>
                </p>
            </a>
        </div>
        <div class="section">
            <h3>status</h3>
            {% set postlist = collections._status | head(-3) %}
            {%- for post in postlist | reverse -%}
                <span>{{ post.content | safe }}</span>
                <a href={{ post.url | urlize }}><span class="color-secondary subscript">{{ post.data.date | htmlDateString }}</span></a>
            {%- endfor -%}
            <a href="/status">
                <p>
                    more statuses <span aria-hidden="true">>></span>
                </p>
            </a>
        </div>
    </div>
{% endblock content %}
